n8n_workflow.json
{
    "name": "Daily AI News Poster (Agent)",
    "nodes": [
        {
            "parameters": {},
            "id": "start-trigger",
            "name": "Start",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "text": "Generate a JSON array of 10 items representing the latest trending topics or potential news in Artificial Intelligence. \n\nEach item object must strictly follow this schema:\n{\n  \"title\": \"Headline string\",\n  \"date\": \"Today's date in Month Day, Year format (e.g. December 9, 2025)\",\n  \"readTime\": \"Calculated read time string (e.g. '3 min read')\",\n  \"excerpt\": \"A short engaging summary of the news (max 150 chars)\",\n  \"link\": \"#\" \n}\n\nReturn ONLY the raw JSON array. Do not include markdown formatting like ```json.",
                "options": {}
            },
            "id": "ai-agent",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "position": [
                460,
                300
            ],
            "typeVersion": 1.7
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
                    "mode": "list",
                    "cachedResultName": "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B"
                },
                "options": {}
            },
            "id": "openai-chat-model",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "position": [
                460,
                500
            ],
            "typeVersion": 1.2,
            "credentials": {
                "openAiApi": {
                    "id": "qvQsD4AHOZc1tuWI",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {},
            "id": "simple-memory",
            "name": "Simple Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "position": [
                580,
                500
            ],
            "typeVersion": 1.3
        },
        {
            "parameters": {
                "functionCode": "const generatedContent = items[0].json.output;\nlet posts = [];\n\ntry {\n  posts = JSON.parse(generatedContent);\n} catch (e) {\n  console.log(\"Parsing failed, attempting cleanup\");\n  const cleanJson = generatedContent.replace(/```json/g, '').replace(/```/g, '').trim();\n  posts = JSON.parse(cleanJson);\n}\n\n// Add IDs\nconst formattedPosts = posts.map((post, index) => ({\n  id: Date.now() + index,\n  ...post\n}));\n\nreturn [{ json: { content: JSON.stringify(formattedPosts, null, 2), path: 'posts.json', message: `Update posts via Agent: ${new Date().toISOString()}` } }];"
            },
            "id": "format-json",
            "name": "Format JSON",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                780,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "edit",
                "owner": "ArunKr",
                "repository": "my-blog",
                "filePath": "posts.json",
                "fileContent": "={{$json[\"content\"]}}",
                "commitMessage": "={{$json[\"message\"]}}"
            },
            "id": "update-github",
            "name": "Update GitHub",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                1000,
                300
            ],
            "credentials": {
                "githubOAuth2Api": {
                    "id": "YOUR_GITHUB_CREDENTIAL_ID",
                    "name": "GitHub Account"
                }
            }
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Format JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format JSON": {
            "main": [
                [
                    {
                        "node": "Update GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}