n8n_workflow.json
{
    "name": "Daily AI News Poster (OpenAI)",
    "nodes": [
        {
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4-turbo",
                "prompt": "Generate a JSON array of 10 items representing the latest trending topics or potential news in Artificial Intelligence. \n\nEach item object must strictly follow this schema:\n{\n  \"title\": \"Headline string\",\n  \"date\": \"Today's date in Month Day, Year format (e.g. December 9, 2025)\",\n  \"readTime\": \"Calculated read time string (e.g. '3 min read')\",\n  \"excerpt\": \"A short engaging summary of the news (max 150 chars)\",\n  \"link\": \"#\" \n}\n\nReturn ONLY the raw JSON array. Do not include markdown formatting like ```json.",
                "maxTokens": 2000,
                "temperature": 0.7
            },
            "name": "OpenAI Generator",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                460,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI Account"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "const generatedContent = items[0].json.choices[0].message.content;\nlet posts = [];\n\ntry {\n  posts = JSON.parse(generatedContent);\n} catch (e) {\n  // Fallback if parsing fails or extra text is included\n  console.log(\"Parsing failed, attempting cleanup\");\n  const cleanJson = generatedContent.replace(/```json/g, '').replace(/```/g, '').trim();\n  posts = JSON.parse(cleanJson);\n}\n\n// Add IDs\nconst formattedPosts = posts.map((post, index) => ({\n  id: Date.now() + index,\n  ...post\n}));\n\nreturn [{ json: { content: JSON.stringify(formattedPosts, null, 2), path: 'posts.json', message: `Update posts via OpenAI: ${new Date().toISOString()}` } }];"
            },
            "name": "Format JSON",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "edit",
                "owner": "ArunKr",
                "repository": "my-blog",
                "filePath": "posts.json",
                "fileContent": "={{$json[\"content\"]}}",
                "commitMessage": "={{$json[\"message\"]}}"
            },
            "name": "Update GitHub",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                900,
                300
            ],
            "credentials": {
                "githubOAuth2Api": {
                    "id": "YOUR_GITHUB_CREDENTIAL_ID",
                    "name": "GitHub Account"
                }
            }
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "OpenAI Generator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Generator": {
            "main": [
                [
                    {
                        "node": "Format JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format JSON": {
            "main": [
                [
                    {
                        "node": "Update GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}
